{{>header}}
{{>navbar}}

{{>breadcrum}}
<div class="my-container">
    <div class="container my-3">
        <div class="row">
            <div class="col-md-9">
                <h3 class="text-center">{{data.title}}</h3>
                <img src="/{{data.cover}}" style="height: 350px;" class="w-100" alt="">

                <div class="card p-4 my-3 text-justify">
                    {{{data.shortDescription}}}
                </div>

                <div class="card p-4 my-3 text-justify">
                    {{{data.longDescription}}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                        Other Services
                    </a>
                    {{#each services}}
                    <a href="/service/{{seoUrl}}" class="mb-3 list-group-item list-group-item-action">{{title}}</a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

{{>footer}}