{{>header}}
{{>navbar}}

<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-3">
            {{>adminSidebar}}
        </div>
        <div class="col-md-9">
            <h5 class="text-center bg-primary text-light p-2">Update Department <a href="/admin/department"><i
                        class="fa fa-arrow-left-long text-light float-end"></i></a></h5>
            <form action="/admin/department/update/{{data._id}}" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label>Title*</label>
                    <input type="text" name="title" value="{{data.title}}" placeholder="Department Title"
                        class="form-control border-3 {{#if errorMessage.title}} border-danger {{else}} border-primary {{/if}}">
                    {{#if errorMessage.title}}
                    <p class="text-danger">{{errorMessage.title}}</p>
                    {{/if}}
                </div>

                <div class="mb-3">
                    <label>Description*</label>
                    <div class="form-control border-3 {{#if errorMessage.longDescription}} border-danger {{else}}
                        border-primary {{/if}}">
                        <textarea name="description" id="div_editor1" placeholder="Department Description"
                            rows="7">{{data.description}}</textarea>
                    </div>
                    {{#if errorMessage.description}}
                    <p class="text-danger">{{errorMessage.description}}</p>
                    {{/if}}
                </div>


                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label>Cover Pic*</label>
                        <input type="file" name="cover"
                            class="form-control border-3 {{#if errorMessage.cover}} border-danger {{else}} border-primary {{/if}}">
                        {{#if errorMessage.cover}}
                        <p class="text-danger">{{errorMessage.cover}}</p>
                        {{/if}}
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Sort Order*</label>
                        <input type="number" name="sortOrder" placeholder="Sort Order" value="{{data.sortOrder}}"
                            class="form-control border-3 border-primary">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Active*</label>
                        <select name="active" class="form-select border-3 border-primary">
                            <option value="1" {{dropdownHelper data.active '1' }}>Yes</option>
                            <option value="0" {{dropdownHelper data.active '0' }}>No</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary w-100">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{>footer}}